# Assignment-1

In [1]:
import graphlab

In [2]:
sf=graphlab.SFrame("people_wiki.sframe")

This non-commercial license of GraphLab Create for academic use is assigned to lakshaydhingra32969@gmail.com and will expire on April 23, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1587798161.log

In [3]:
sf

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:41619/index.html
Opening Canvas in default web browser.

In [5]:
sf.tail()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+-------------------------------+
|              URI              |              name             |
+-------------------------------+-------------------------------+
| <http://dbpedia.org/resour... |            Rod Wilt           |
| <http://dbpedia.org/resour... |      Scott Baker (judge)      |
| <http://dbpedia.org/resour... |     Dragoljub Ojdani%C4%87    |
| <http://dbpedia.org/resour... |           Oz Bengur           |
| <http://dbpedia.org/resour... | Dee Brown (basketball, bor... |
| <http://dbpedia.org/resour... |           Olari Elts          |
| <http://dbpedia.org/resour... |         Scott F. Crago        |
| <http://dbpedia.org/resour... |    David Cass (footballer)    |
| <http://dbpedia.org/resour... |          Keith Elias          |
| <http://dbpedia.org/resour... |          Fawaz Damrah         |
+-------------------------------+-------------------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| rod wilt is a former repub... |
| sir thomas scott gillespie... |
| dragoljub ojdani serbian c... |
| osman oz bengur born febru... |
| decovan kadell dee brown b... |
| olari elts born april 27 1... |
| scott francis crago born j... |
| david william royce cass b... |
| keith hector elias born fe... |
| fawaz mohammed damrah arab... |
+-------------------------------+
[10 rows x 3 columns]

In [6]:
sf.filter_by("Harpdog Brown","name",exclude=False)["text"]

dtype: str
Rows: 1
['harpdog brown is a singer and harmonica player who has been active in canadas blues scene since 1982 hailing from vancouver he crossed tens of thousands of miles playing club dates and festivals in canada the northwestern united states and germanyover the years he has issued seven cds in 1995 his home is where the harp is won the muddy award for the best nw blues release from the cascade blues association in portland oregon as well that year it was nominated for a canadian juno for the best bluesgospel recording teamed up with graham guest on piano his cd naturally was voted 1 canadian blues album of 2010 by the blind lemon surveybrown tours extensively with his guitarist j arthur edmonds performing their electric mid1950s chicago blues either as a duo or with the full band while he is home he juggles a few combos working many venues big and small he also leads the harpdog brown band which is a gutsy traditional chicago blues band in 2014 they released what it is comprising mainly original songs and a few classic covers influential blues promoter and broadcaster holger petersen called what it is browns best albumhe was just awarded the maple blues award in toronto for best harmonica player in canada 2014 and was honored with a life time membership to the hamilton blues society']

In [7]:
sf.sort("text",ascending=True)

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |     108 (artist)    |
| <http://dbpedia.org/resour... |        1.8.7        |
| <http://dbpedia.org/resour... | Diane Carlson Evans |
| <http://dbpedia.org/resour... |    Robert Godley    |
| <http://dbpedia.org/resour... |     Lisa Mullins    |
| <http://dbpedia.org/resour... |   Martijn Meeuwis   |
| <http://dbpedia.org/resour... |    8 Ball Aitken    |
| <http://dbpedia.org/resour... |  8th Arjia Rinpoche |
| <http://dbpedia.org/resour... |      Jim Gould      |
| <http://dbpedia.org/resour... |   David L. Holmes   |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| 108 born 1978 is an italia... |
| 187 is a pseudonym for jor... |
| 1lt diane carlson evans an... |
| 1robert godley b 7 july 19... |
| 2012 gracie award winner l... |
| 250px250pxmartijn meeuwis ... |
| 8 ball aitken born 8 june ... |
| 8th agya hotogtu lobsang t... |
| a canadian foreign affairs... |
| a church historian david l... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [8]:
sf.num_rows()

59071

In [9]:
sf.num_cols()

3

In [10]:
sf2 = graphlab.SFrame({'id':[1,2,3],'val':['A','B','C']})
sf2

Columns:
	id	int
	val	str

Rows: 3

Data:
+----+-----+
| id | val |
+----+-----+
| 1  |  A  |
| 2  |  B  |
| 3  |  C  |
+----+-----+
[3 rows x 2 columns]

In [11]:
sf2["id"]=sf2["id"]*2
sf2

Columns:
	id	int
	val	str

Rows: 3

Data:
+----+-----+
| id | val |
+----+-----+
| 2  |  A  |
| 4  |  B  |
| 6  |  C  |
+----+-----+
[3 rows x 2 columns]

In [12]:
sf2["id"]=[1,2,3]
sf2

Columns:
	id	int
	val	str

Rows: 3

Data:
+----+-----+
| id | val |
+----+-----+
| 1  |  A  |
| 2  |  B  |
| 3  |  C  |
+----+-----+
[3 rows x 2 columns]

In [13]:
del sf2["val"]
sf2

Columns:
	id	int

Rows: 3

Data:
+----+
| id |
+----+
| 1  |
| 2  |
| 3  |
+----+
[3 rows x 1 columns]

In [14]:
sf2["name"]=["a","b","c"]

In [15]:
sf2["marks"]=[3.4,2.9,2.3]

In [16]:
sf2["roll"]=[12,13,14]

In [17]:
sf2

Columns:
	id	int
	name	str
	marks	float
	roll	int

Rows: 3

Data:
+----+------+-------+------+
| id | name | marks | roll |
+----+------+-------+------+
| 1  |  a   |  3.4  |  12  |
| 2  |  b   |  2.9  |  13  |
| 3  |  c   |  2.3  |  14  |
+----+------+-------+------+
[3 rows x 4 columns]

In [18]:
sf2[[float,str,'id']]

Columns:
	id	int
	name	str
	marks	float

Rows: 3

Data:
+----+------+-------+
| id | name | marks |
+----+------+-------+
| 1  |  a   |  3.4  |
| 2  |  b   |  2.9  |
| 3  |  c   |  2.3  |
+----+------+-------+
[3 rows x 3 columns]

In [19]:
sf2=sf2[['id','roll','name','marks']]

In [20]:
sf2

Columns:
	id	int
	roll	int
	name	str
	marks	float

Rows: 3

Data:
+----+------+------+-------+
| id | roll | name | marks |
+----+------+------+-------+
| 1  |  12  |  a   |  3.4  |
| 2  |  13  |  b   |  2.9  |
| 3  |  14  |  c   |  2.3  |
+----+------+------+-------+
[3 rows x 4 columns]

In [21]:
sf.filter_by(["Harpdog Brown","1.8.7"],"name",exclude=False)

Columns:
	URI	str
	name	str
	text	str

Rows: 2

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | Harpdog Brown | harpdog brown is a singer ... |
| <http://dbpedia.org/resour... |     1.8.7     | 187 is a pseudonym for jor... |
+-------------------------------+---------------+-------------------------------+
[2 rows x 3 columns]

In [22]:
sf.filter_by(["Harpdog Brown","1.8.7"],"name",exclude=True)

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
| <http://dbpedia.org/resour... |     Sophie Crumb    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
| sophia violet sophie crumb... |
+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [23]:
sf.filter_by(["Harpdog Brown","1.8.7"],"name",exclude=True).num_rows()

59069

In [24]:
sf[0]

{'URI': '<http://dbpedia.org/resource/Digby_Morrell>',
 'name': 'Digby Morrell',
 'text': 'digby morrell born 10 october 1979 is a former australian rules footballer who played with the kangaroos and carlton in the australian football league aflfrom western australia morrell played his early senior football for west perth his 44game senior career for the falcons spanned 19982000 and he was the clubs leading goalkicker in 2000 at the age of 21 morrell was recruited to the australian football league by the kangaroos football club with its third round selection in the 2001 afl rookie draft as a forward he twice kicked five goals during his time with the kangaroos the first was in a losing cause against sydney in 2002 and the other the following season in a drawn game against brisbaneafter the 2003 season morrell was traded along with david teague to the carlton football club in exchange for corey mckernan he played 32 games for the blues before being delisted at the end of 2005 he continued to play victorian football league vfl football with the northern bullants carltons vflaffiliate in 2006 and acted as playing assistant coach in 2007 in 2008 he shifted to the box hill hawks before retiring from playing at the end of the season from 2009 until 2013 morrell was the senior coach of the strathmore football club in the essendon district football league leading the club to the 2011 premier division premiership since 2014 he has coached the west coburg football club also in the edflhe currently teaches physical education at parade college in melbourne'}

In [25]:
type(sf[0])

dict

In [26]:
sf[10:100:3]

Columns:
	URI	str
	name	str
	text	str

Rows: 30

Data:
+-------------------------------+-------------------------------+
|              URI              |              name             |
+-------------------------------+-------------------------------+
| <http://dbpedia.org/resour... |          Sophie Crumb         |
| <http://dbpedia.org/resour... | Anthony Gueterbock, 18th B... |
| <http://dbpedia.org/resour... |         Andrew Pinsent        |
| <http://dbpedia.org/resour... |      John Angus Campbell      |
| <http://dbpedia.org/resour... |          Adel Sellimi         |
| <http://dbpedia.org/resour... |          Vic Stasiuk          |
| <http://dbpedia.org/resour... |          Leon Hapgood         |
| <http://dbpedia.org/resour... |    Ted Hill (mathematician)   |
| <http://dbpedia.org/resour... |         Douglas Davies        |
| <http://dbpedia.org/resour... |        Aharon Solomons        |
+-------------------------------+-------------------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| sophia violet sophie crumb... |
| anthony fitzhardinge guete... |
| fr andrew pinsent born 19 ... |
| john angus campbell born m... |
| adel sellimi arabic was bo... |
| victor john stasiuk born m... |
| leon duane hapgood born 7 ... |
| theodore preston hill born... |
| douglas james davies born ... |
| aharon solomons b septembe... |
+-------------------------------+
[30 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
sf2

Columns:
	id	int
	roll	int
	name	str
	marks	float

Rows: 3

Data:
+----+------+------+-------+
| id | roll | name | marks |
+----+------+------+-------+
| 1  |  12  |  a   |  3.4  |
| 2  |  13  |  b   |  2.9  |
| 3  |  14  |  c   |  2.3  |
+----+------+------+-------+
[3 rows x 4 columns]

In [28]:
sf2[(sf2["id"]>=2)&(sf2["marks"]>2.5)]
#it is lazily evaluated as only a few portion is affected
#materialize() is used to force propagation of operation on whole dataset

Columns:
	id	int
	roll	int
	name	str
	marks	float

Rows: Unknown

Data:
+----+------+------+-------+
| id | roll | name | marks |
+----+------+------+-------+
| 2  |  13  |  b   |  2.9  |
+----+------+------+-------+
[? rows x 4 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.